@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #000;
  display: grid;
  place-items: center;
}

.text{
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(135deg,
    #00f5ff,
    #2fff7b,
    #ffee00,
    #ff6a00,
    #ff00d4,
    #6a00ff,
    #00f5ff
  );
  background-size: 400% 400%;
  animation: animate 10s linear infinite;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  outline: none;
}

@keyframes animate{
  0%{ background-position: 0% 50%; }
  100%{ background-position: 100% 50%; }
}
